In [1]:
#TODAY'S LESSON:
#HOW DO WE DO QUICK AND DIRTY DATA WRANGLING WITH PYTHON?

#PS: THIS IS AN INTRODUCTION TO DATA WRANGLING WITH PYTHON
# WE WILL GO INTO THIS IN MUCH GREATER DETAIL IN FUTURE CLASSES

#PPS TODAY'S CLASS IS TO CALIBRATE TECHNOLOGY AND MAKE SURE EVERYONE'S ON THE RIGHT PAGE

# super awesome library created by folks at UC Berkeley
# url: https://github.com/data-8/datascience
from datascience import *

#importing things
import numpy as np

#setting up matplotlib to work inline
%matplotlib inline

Cell Headers!

In [2]:
#direct numerical calculations
24 * 7

168

In [3]:
#easy variables
hours_in_a_week = 24 * 7

In [4]:
hours_in_a_week

168

In [5]:
hours_in_a_week * 100

16800

Terminology: expressions, values, names, variables, statements

Naming rules: letters, numbers, underscores; case sensitive; start with letter usually

Calculate the number of seconds in a year.

In [6]:
60 * 60 * 24 * 365

31536000

In [7]:
seconds_per_year = 60 * 60 * 24 * 365

In [8]:
seconds_per_year

31536000

In [9]:
seconds_per_hour = 60 * 60
hours_per_year = 24 * 365
seconds_per_year = seconds_per_hour * hours_per_year
seconds_per_year

31536000

In [10]:
#built in functions
abs(-5)

5

In [11]:
abs(3-8)

5

In [12]:
max(3,4)

4

In [13]:
y = max(3,4)

In [14]:
y

4

<b>Tables!</b>

In [15]:
Table.read_table('flowers.csv')

NameError: name 'Table' is not defined

In [ ]:
#let's do some table operations
flowers = Table.read_table('flowers.csv')

In [ ]:
flowers

In [ ]:
flowers.select('Petals')

In [ ]:
flowers

In [ ]:
petals = flowers.select('Petals')

In [ ]:
petals

In [ ]:
flowers.select('Petals', 'Name')

In [ ]:
flowers.drop('Color')

In [ ]:
flowers

In [ ]:
movies = Table.read_table('top_movies_by_title.csv')

In [ ]:
movies

In [ ]:
movies.sort('Year', descending=True)

In [ ]:
movies.show(3)

In [ ]:
movies.sort('Gross')

In [ ]:
movies.sort('Gross', descending=True)

In [ ]:
sorted_by_gross = movies.sort('Gross', descending=True)

In [ ]:
sorted_by_gross

In [ ]:
sorted_by_gross.sort('Studio')

In [ ]:
sorted_by_gross.sort('Studio', distinct=True)

<b>Simple Visualizations Examples<b>

In [ ]:
top_per_studio = sorted_by_gross.sort('Studio', distinct=True)

In [ ]:
# Which studio has the highest grossing movie?
# Bar chart: visualize categorical data
top_per_studio.barh('Studio', 'Gross')

In [ ]:
# Sort: make it easier for the eye to compare
top_studios = top_per_studio.sort('Gross', descending=True)
top_studios.barh('Studio', 'Gross')

In [ ]:
# Compare unadjusted vs. adjusted gross
just_revenues = top_studios.select('Studio', 'Gross', 'Gross (Adjusted)')

In [ ]:
just_revenues

In [ ]:
just_revenues.barh('Studio')

In [ ]:
# This table can be found online: https://www.statcrunch.com/app/index.php?dataid=1843341
# Salaries are in millions of $
nba = Table.read_table('nba_salaries.csv')

In [ ]:
nba

In [ ]:
nba.sort('SALARY ($M)')

In [ ]:
nba.where('SALARY ($M)', are.above(10))

In [ ]:
nba.where('SALARY ($M)', are.above(10)).sort('SALARY ($M)')

In [ ]:
nba.where('PLAYER', are.equal_to('LeBron James'))

In [ ]:
nba.where('TEAM', are.equal_to('New York Knicks'))

In [ ]:
nba.where('TEAM', are.equal_to('New York Knicks')).sort('SALARY ($M)', descending=True)

In [ ]:
nba.where('SALARY ($M)', are.between(10, 12))